<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyl.system.mapper.ContractMapper">
    
    <resultMap type="Contract" id="ContractResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="contractNo"    column="contract_no"    />
        <result property="pdfUrl"    column="pdf_url"    />
        <result property="memberPhone"    column="member_phone"    />
        <result property="elderId"    column="elder_id"    />
        <result property="elderName"    column="elder_name"    />
        <result property="memberName"    column="member_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
        <result property="levelDesc"    column="level_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="checkInNo"    column="check_in_no"    />
        <result property="signDate"    column="sign_date"    />
        <result property="releaseSubmitter"    column="release_submitter"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="releasePdfUrl"    column="release_pdf_url"    />
    </resultMap>

    <sql id="selectContractVo">
        select id, name, contract_no, pdf_url, member_phone, elder_id, elder_name, member_name, start_time, end_time, status, sort, level_desc, create_time, create_by, update_time, update_by, remark, check_in_no, sign_date, release_submitter, release_date, release_pdf_url from contract
    </sql>

    <select id="selectContractList" parameterType="Contract" resultMap="ContractResult">
        <include refid="selectContractVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="contractNo != null  and contractNo != ''"> and contract_no = #{contractNo}</if>
            <if test="pdfUrl != null  and pdfUrl != ''"> and pdf_url = #{pdfUrl}</if>
            <if test="memberPhone != null  and memberPhone != ''"> and member_phone = #{memberPhone}</if>
            <if test="elderId != null "> and elder_id = #{elderId}</if>
            <if test="elderName != null  and elderName != ''"> and elder_name like concat('%', #{elderName}, '%')</if>
            <if test="memberName != null  and memberName != ''"> and member_name like concat('%', #{memberName}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="levelDesc != null  and levelDesc != ''"> and level_desc = #{levelDesc}</if>
            <if test="checkInNo != null  and checkInNo != ''"> and check_in_no = #{checkInNo}</if>
            <if test="signDate != null "> and sign_date = #{signDate}</if>
            <if test="releaseSubmitter != null  and releaseSubmitter != ''"> and release_submitter = #{releaseSubmitter}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="releasePdfUrl != null  and releasePdfUrl != ''"> and release_pdf_url = #{releasePdfUrl}</if>
        </where>
    </select>
    
    <select id="selectContractById" parameterType="Long" resultMap="ContractResult">
        <include refid="selectContractVo"/>
        where id = #{id}
    </select>

    <insert id="insertContract" parameterType="Contract" useGeneratedKeys="true" keyProperty="id">
        insert into contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="contractNo != null and contractNo != ''">contract_no,</if>
            <if test="pdfUrl != null">pdf_url,</if>
            <if test="memberPhone != null">member_phone,</if>
            <if test="elderId != null">elder_id,</if>
            <if test="elderName != null">elder_name,</if>
            <if test="memberName != null">member_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="levelDesc != null">level_desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="checkInNo != null">check_in_no,</if>
            <if test="signDate != null">sign_date,</if>
            <if test="releaseSubmitter != null">release_submitter,</if>
            <if test="releaseDate != null">release_date,</if>
            <if test="releasePdfUrl != null">release_pdf_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="contractNo != null and contractNo != ''">#{contractNo},</if>
            <if test="pdfUrl != null">#{pdfUrl},</if>
            <if test="memberPhone != null">#{memberPhone},</if>
            <if test="elderId != null">#{elderId},</if>
            <if test="elderName != null">#{elderName},</if>
            <if test="memberName != null">#{memberName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="levelDesc != null">#{levelDesc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="checkInNo != null">#{checkInNo},</if>
            <if test="signDate != null">#{signDate},</if>
            <if test="releaseSubmitter != null">#{releaseSubmitter},</if>
            <if test="releaseDate != null">#{releaseDate},</if>
            <if test="releasePdfUrl != null">#{releasePdfUrl},</if>
         </trim>
    </insert>

    <update id="updateContract" parameterType="Contract">
        update contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="contractNo != null and contractNo != ''">contract_no = #{contractNo},</if>
            <if test="pdfUrl != null">pdf_url = #{pdfUrl},</if>
            <if test="memberPhone != null">member_phone = #{memberPhone},</if>
            <if test="elderId != null">elder_id = #{elderId},</if>
            <if test="elderName != null">elder_name = #{elderName},</if>
            <if test="memberName != null">member_name = #{memberName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="levelDesc != null">level_desc = #{levelDesc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="checkInNo != null">check_in_no = #{checkInNo},</if>
            <if test="signDate != null">sign_date = #{signDate},</if>
            <if test="releaseSubmitter != null">release_submitter = #{releaseSubmitter},</if>
            <if test="releaseDate != null">release_date = #{releaseDate},</if>
            <if test="releasePdfUrl != null">release_pdf_url = #{releasePdfUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContractById" parameterType="Long">
        delete from contract where id = #{id}
    </delete>

    <delete id="deleteContractByIds" parameterType="String">
        delete from contract where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="batchUpdateContractStatus">
        update contract set status = 2, update_time = now()
        where status = 1 and end_time &lt; now()
    </update>
</mapper>