<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyl.system.mapper.ElderMapper">

    <resultMap type="Elder" id="ElderResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="image"    column="image"    />
        <result property="idCardNo"    column="id_card_no"    />
        <result property="age"    column="age"    />
        <result property="sex"    column="sex"    />
        <result property="status"    column="status"    />
        <result property="phone"    column="phone"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="bedNumber"    column="bed_number"    />
        <result property="bedId"    column="bed_id"    />
    </resultMap>

    <sql id="selectElderVo">
        select id, name, image, id_card_no, age, sex, status, phone, create_time, update_time, create_by, update_by, remark, bed_number, bed_id from elder
    </sql>

    <select id="selectElderList" parameterType="Elder" resultMap="ElderResult">
        <include refid="selectElderVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="idCardNo != null  and idCardNo != ''"> and id_card_no = #{idCardNo}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="bedNumber != null  and bedNumber != ''"> and bed_number = #{bedNumber}</if>
            <if test="bedId != null "> and bed_id = #{bedId}</if>
        </where>
    </select>

    <select id="selectElderById" parameterType="Long" resultMap="ElderResult">
        <include refid="selectElderVo"/>
        where id = #{id}
    </select>

    <select id="selectAllElderList" resultMap="ElderResult">
        select e.id, e.name, e.id_card_no, e.phone, e.status
        from elder e
    </select>

    <select id="selectElderByMember" resultMap="ElderResult">
        select e.id, e.name
        from elder e
        left join lc_elder_member em on e.id = em.elder_id
        left join lc_member m on em.member_id = m.id
        where m.id = #{memberId}
    </select>

    <select id="selectElderBedList" resultType="com.lcyl.system.domain.vo.BedVO">
        select e.id, e.name, e.image, em.greeting, b.bed_number as bedNumber
        from elder e
        left join lc_elder_member em on e.id = em.elder_id
        left join lc_member m on em.member_id = m.id
        left join bed b on e.bed_id = b.id
        where m.id = #{memberId}
    </select>

    <insert id="insertElder" parameterType="Elder" useGeneratedKeys="true" keyProperty="id">
        insert into elder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="image != null">image,</if>
            <if test="idCardNo != null">id_card_no,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="status != null">status,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="bedNumber != null">bed_number,</if>
            <if test="bedId != null">bed_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="image != null">#{image},</if>
            <if test="idCardNo != null">#{idCardNo},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="status != null">#{status},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="bedNumber != null">#{bedNumber},</if>
            <if test="bedId != null">#{bedId},</if>
         </trim>
    </insert>

    <insert id="insertInfo">
        insert into lc_elder_member (elder_id, member_id, greeting)
        values (#{addInfo.elderId}, #{memberId}, #{addInfo.relation})
    </insert>

    <update id="updateElder" parameterType="Elder">
        update elder
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="image != null">image = #{image},</if>
            <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="status != null">status = #{status},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="bedNumber != null">bed_number = #{bedNumber},</if>
            <if test="bedId != null">bed_id = #{bedId},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateBedId">
        update elder set bed_id = #{bedId} where id = #{elderId}
    </update>

    <update id="updateStatus">
        update elder set status = #{status} where id = #{elderId}
    </update>

    <delete id="deleteElderById" parameterType="Long">
        delete from elder where id = #{id}
    </delete>

    <delete id="deleteElderByIds" parameterType="Long">
        delete from elder where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="delElderInfoById">
        delete from lc_elder_member where elder_id = #{id}
    </delete>
</mapper>
