<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyl.system.mapper.LcRoomTypeMapper">

    <resultMap type="LcRoomType" id="LcRoomTypeResult">
        <result property="id"    column="id"    />
        <result property="photo"    column="photo"    />
        <result property="name"    column="name"    />
        <result property="bedCount"    column="bed_count"    />
        <result property="price"    column="price"    />
        <result property="createBy"    column="create_by"    />
        <result property="introduction"    column="introduction"    />
        <result property="status"    column="status"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLcRoomTypeVo">
        select id, photo, name, bed_count, price, create_by, introduction, status, update_by, remark, create_time, update_time from lc_room_type
    </sql>

    <select id="selectLcRoomTypeList" parameterType="LcRoomType" resultMap="LcRoomTypeResult">
        <include refid="selectLcRoomTypeVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null and status != 0"> and status = #{status}</if>
        </where>
        order by id asc
    </select>

    <select id="selectLcRoomTypeById" parameterType="Long" resultMap="LcRoomTypeResult">
        <include refid="selectLcRoomTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertLcRoomType" parameterType="LcRoomType" useGeneratedKeys="true" keyProperty="id">
        insert into lc_room_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="photo != null">photo,</if>
            <if test="name != null">name,</if>
            <if test="bedCount != null">bed_count,</if>
            <if test="price != null">price,</if>
            <if test="createBy != null">create_by,</if>
            <if test="introduction != null">introduction,</if>
            <if test="status != null">status,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="photo != null">#{photo},</if>
            <if test="name != null">#{name},</if>
            <if test="bedCount != null">#{bedCount},</if>
            <if test="price != null">#{price},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="status != null">#{status},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLcRoomType" parameterType="LcRoomType">
        update lc_room_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="photo != null">photo = #{photo},</if>
            <if test="name != null">name = #{name},</if>
            <if test="bedCount != null">bed_count = #{bedCount},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLcRoomTypeById" parameterType="Long">
        delete from lc_room_type where id = #{id}
    </delete>

    <delete id="deleteLcRoomTypeByIds" parameterType="String">
        delete from lc_room_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>