<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyl.code.mapper.BeddMapper">

    <update id="updateBedStatus">
        update bed set bed_status = #{status} where id = #{bedId}
    </update>

    <update id="freeBedByBedNo">
        update bed
        set bed_status = 0
        where bed_number = #{bedNo}
    </update>
</mapper>