<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lcyl.code.mapper.MemberMapper">

    <resultMap id="BaseResultMap" type="com.lcyl.code.domain.Member">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="open_id" property="openId"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <insert id="insert" parameterType="com.lcyl.code.domain.Member"
            useGeneratedKeys="true" keyProperty="id">
        insert into lc_member (
            phone,
            name,
            avatar,
            open_id,
            gender
        ) values (
                     #{phone},
                     #{name},
                     #{avatar},
                     #{openId},
                     #{gender}
                 )
    </insert>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        select id,phone,name,avatar,open_id,gender
        from lc_member where open_id = #{openId}
    </select>


    <!--根据用户id查询用户信息-->


    <!--更新资料-->
    <update id="updateById">
        update lc_member
        set avatar = #{avatar},
            name = #{name},
            gender = #{gender}
        where id =#{id}
    </update>
    <select id="selectById" resultMap="BaseResultMap">
        select id,phone,name,avatar,open_id,gender
        from lc_member
        where id = #{id}
    </select>



</mapper>

